@model Login

@{
    ViewData["Title"] = "Entrar al sitio";
}

<section id="login" class="contact section-bg d-flex align-items-center" style="min-height: 100vh;">
    <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
            <h2>Bienvenido</h2>
            <p>Iniciar Sesión</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5 mt-lg-0">

                @if (ViewBag.Mensaje != null)
                {
                    <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
                }

                <form asp-controller="Home" asp-action="Login" method="post" class="php-email-form">

                    <div class="form-group">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contrasenna"></label>
                        <input asp-for="Contrasenna" type="password" class="form-control" />
                        <span asp-validation-for="Contrasenna" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                </form>

                <!-- Separador con línea y "O" en el centro -->
                <div class="separator">
                    <span>O</span>
                </div>

                <!-- Botón de "Continuar con Google" -->
                <form  asp-controller="Home" asp-action="LoginWithGoogle">
                    <div class="text-center mt-3">
                        <button type="submit" class="btn-google" name="provider" value="Google">
                            <i class="bi bi-google"></i> Continuar con Google
                        </button>
                    </div>
                </form>

                <!-- Enlaces de "Olvidé mi contraseña" y "No tengo cuenta" -->
                <div class="text-center mt-4">
                    <a href="@Url.Action("ForgotPassword", "Account")">¿Olvidaste tu contraseña?</a><br>
                    <a href="@Url.Action("Register", "Home")">¿No tienes cuenta? Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</section>
