@model CuentaUsuario

@{
    ViewData["Title"] = "Crea una Cuenta";
}

<section id="register" class="contact section-bg d-flex align-items-center" style="min-height: 100vh;">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Registrarse</h2>
            <p>Crea tu cuenta</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5 mt-lg-0">

                @if (ViewBag.Mensaje != null)
                {
                    <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
                }


                <div class="php-email-form">

                    <!-- Formulario -->
                    <form asp-action="Register" asp-controller="Home">
                   
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input type="text" asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Apellidos">Apellidos</label>
                            <input type="text" asp-for="Apellidos" class="form-control" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Correo">Correo</label>
                            <input type="email" asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Contrasenna">Contraseña</label>
                            <input type="password" asp-for="Contrasenna" class="form-control" />
                            <span asp-validation-for="Contrasenna" class="text-danger"></span>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>

                </div>

                <!-- Separador con línea y "O" en el centro -->
                <div class="separator">
                    <span>O</span>
                </div>

                <!-- Botón de "Continuar con Google" -->
                <form asp-controller="Home" asp-action="LoginWithGoogle">
                    <div class="text-center mt-3">
                        <button type="submit" class="btn-google" name="provider" value="Google">
                            <i class="bi bi-google"></i> Continuar con Google
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


