@{
    Layout = "Layout Dash"; // O el nombre del archivo de tu layout
}

<main class="container py-4">
    <div class="info-container">
		<img src="~/images/taller.png alt="Logo del Taller" class="info-image">
        <div class="info-message">
            <h2>Acerca de Taller Salazar y Monge</h2>
            <p>En Taller Salazar y Monge, nos enorgullece ofrecer servicios de reparación y mantenimiento de vehículos con la más alta calidad. Nuestro equipo de expertos está comprometido en brindarle soluciones eficientes y confiables para su carro.</p>
            <h3>Sobre Nosotros</h3>
            <p>Fundado en 1995, Taller Salazar y Monge ha sido un pilar en la comunidad local, ofreciendo servicios excepcionales en reparación y mantenimiento automotriz. Desde nuestros inicios, hemos crecido y evolucionado, adaptándonos a las últimas tecnologías y estándares del sector.</p>
            <p>Nuestra misión es asegurar que cada cliente reciba un servicio de primera clase, con la confianza de que su vehículo está en las mejores manos. A lo largo de los años, hemos construido una reputación sólida basada en la calidad, la honestidad y el compromiso con la satisfacción del cliente.</p>
            <p>¡Gracias por confiar en nosotros! Estamos aquí para atender todas sus necesidades automotrices.</p>
        </div>
    </div>
</main>

