@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="overlay">
        <div class="hero-content">
            <h1>Bienvenido a Taller y Repuestos Salazar Monge</h1>
            <p>Tu solución integral en repuestos y mantenimiento automotriz</p>
           
        </div>
    </div>
</div>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 feature-box">
                <i class="fas fa-car"></i>
                <h3>Repuestos de Calidad</h3>
                <p>Ofrecemos una amplia variedad de repuestos originales y genéricos para todas las marcas de autos.</p>
            </div>
            <div class="col-md-4 feature-box">
                <i class="fas fa-tools"></i>
                <h3>Servicio Técnico</h3>
                <p>Contamos con personal capacitado para realizar el mantenimiento preventivo y correctivo de tu vehículo.</p>
            </div>
            <div class="col-md-4 feature-box">
                <i class="fas fa-shipping-fast"></i>
                <h3>Entrega Rápida</h3>
                <p>Garantizamos la entrega rápida de tus repuestos a cualquier parte del país.</p>
            </div>
        </div>
    </div>

</section>

<div class="card-container">
    <div class="card-header">
        <div class="img-avatar"></div>
        <div class="text-chat">Chat</div>
    </div>
    <div class="card-body">
        <div class="messages-container">
            <div class="message-box left">
                <p>Hello, How are you?</p>
            </div>
            <div class="message-box right">
                <p>I'm good, thanks for asking! How about you?</p>
            </div>
        </div>
        <div class="message-input">
            <form>
                <textarea placeholder="Type your message here" class="message-send"></textarea>
                <button type="submit" class="button-send">Send</button>
            </form>
        </div>
    </div>
</div>