<div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form">
        <input type="email" class="input" placeholder="Email">
        <input type="password" class="input" placeholder="Password">
        <p class="page-link">
            <span class="page-link-label">Olvidaste tu Contraseña?</span>
        </p>
        <a href="@Url.Action("Dash", "Home")" class="form-btn">Log in</a>
    </form>
    <p class="sign-up-label">
        <span>Don't have an account?</span> <span class="sign-up-link" onclick="window.location.href='@Url.Action("Register", "Home")'">Sign up</span>
    </p>
    <div class="buttons-container">
        <a href="@Url.Action("Dash", "Home")" class="apple-login-button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="apple-icon" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path>
            </svg>
            <span>Log in with Apple</span>
        </a>
        <a href="@Url.Action("Dash", "Home")" class="google-login-button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="google-icon" viewBox="0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path>
            </svg>
            <span>Log in with Google</span>
        </a>
    </div>
</div>