<div class="form-container">
    <p class="title">Crea una Cuenta</p>
    <form class="form">
        <input type="text" class="input" placeholder="Nombre">
        <input type="email" class="input" placeholder="Correo Electrónico">
        <input type="password" class="input" placeholder="Contraseña">
        <input type="password" class="input" placeholder="Confirmar Contraseña">
        <a href="@Url.Action("Dash", "Home")" class="form-btn">Registrarse</a>
    </form>
    <p class="sign-up-label">
        ¿Ya tienes una cuenta?<span class="sign-up-link" onclick="window.location.href='@Url.Action("Login", "Home")'">Inicia Sesión</span>
    </p>
    <div class="buttons-container">
        <a href="@Url.Action("Dash", "Home")" class="apple-login-button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="apple-icon" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path>
            </svg>
            <span>Sign up with Apple</span>
        </a>
        <a href="@Url.Action("Dash", "Home")" class="google-login-button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="google-icon" viewBox="0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path>
            </svg>
            <span>Sign up with Google</span>
        </a>
    </div>
</div>