html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Mantener el navbar en su posición normal */
body {
    justify-content: space-between;
    background-color: lightskyblue
}

/* Centrar el contenido principal */
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cambia el color del navbar */
.navbar-custom {
    background-color: #f8f9fa
}

/* Centrar los elementos de la lista */
.navbar-nav {
    justify-content: center;
    width: 100%;
}

    .navbar-nav .nav-item {
        text-align: center;
    }

/* Alinear los botones a la derecha */
.navbar-right {
    margin-left: auto;
}

.form-container {
    width: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    padding: 12px 15px;
}

.page-link {
    text-decoration: underline;
    text-align: center;
    color: #747474;
}

.page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
}

.page-link-label:hover {
        color: #000;
    }

.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .form-btn:active {
        box-shadow: none;
    }

.sign-up-label {
    font-size: 10px;
    color: #747474;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    color: teal;
    cursor: pointer;
    font-weight: 800;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apple-login-button,
.google-login-button {
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
}

.apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

.google-login-button {
    border: 2px solid #747474;
}

.apple-icon,
.google-icon {
    font-size: 18px;
}

/* Footer pegado al fondo */
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.container.py-4 {
    width: 90%; /* Aumenta el tamaño del contenedor */
    max-width: 1800px; /* Ancho máximo para pantallas grandes */
    padding: 20px; /* Espaciado interno del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenedor */
}

.section2 {
    background-color: #ffffff; /* Fondo blanco para la sección */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para la sección */
    margin-bottom: 20px;
}

.table {
    width: 100%; /* Ancho completo del contenedor */
    border-collapse: collapse; /* Fusiona bordes de celdas */
    background-color: #ffffff; /* Fondo blanco para la tabla */
    border-radius: 8px; /* Bordes redondeados para la tabla */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor de la tabla */
    margin-bottom: 20px; /* Espacio debajo de la tabla */
}

    .table th, .table td {
        padding: 12px 15px;
        border: 1px solid #dee2e6; /* Borde gris claro para separar las celdas */
        text-align: left;
    }

    .table th {
        background-color: #007bff; /* Color de fondo de los encabezados */
        color: #ffffff; /* Color del texto en los encabezados */
        font-weight: bold;
        border-bottom: 2px solid #0056b3; /* Borde inferior más oscuro para encabezados */
    }

    .table tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9; /* Color de fondo alternante para filas */
    }

    .table tbody tr:hover {
        background-color: #e2e6ea; /* Color de fondo al pasar el ratón */
        transition: background-color 0.3s; /* Transición suave al pasar el ratón */
    }

.btn-container2 {
    text-align: center; /* Centra los botones */
    margin-top: 20px; /* Espacio arriba de los botones */
}

.btn2 {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

    .btn:hover {
        background-color: #0056b3; /* Color de fondo al pasar el ratón sobre los botones */
    }

.btn-danger {
    background-color: #dc3545; /* Color de fondo para el botón de borrar */
}

    .btn-danger:hover {
        background-color: #c82333; /* Color de fondo al pasar el ratón sobre el botón de borrar */
    }

.btn-warning {
    background-color: #ffc107; /* Color de fondo para el botón de modificar */
    color: #000; /* Color del texto en el botón de modificar */
}

    .btn-warning:hover {
        background-color: #e0a800; /* Color de fondo al pasar el ratón sobre el botón de modificar */
    }


.inventory-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inventory-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #333;
}

.form-container, .import-container, .product-list-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.form-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

    .form-btn:hover {
        background-color: #0056b3;
    }

.product-table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .table th, .table td {
        padding: 12px 15px;
        border: 1px solid #dee2e6;
        text-align: left;
    }

    .table th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
        border-bottom: 2px solid #0056b3;
    }

    .table tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #e2e6ea;
        transition: background-color 0.3s;
    }