@model IEnumerable<Software_Taller_y_Repuestos.Models.Producto>

@{
    ViewData["Title"] = "Subir Productos";
}

<style>
    .content-container {
        margin-top: 150px; /* espacio desde el header */
        text-align: center;
    }

    .form-container {
        margin-top: 20px; /* Espacio entre el título y el formulario */
    }
</style>

<div class="content-container">
    <h1>@ViewData["Title"]</h1>

    <div class="form-container">
        <form asp-action="Upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Seleccionar archivo (CSV o Excel):</label>
                <input type="file" class="form-control" id="file" name="file" required />
            </div>
            <button type="submit" class="btn btn-primary">Subir</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-3">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</div>
